@page
@model KTLT_2022.Pages.MH_Cong_2_PhanSoModel
@using KTLT_2022.Entities
@using KTLT_2022.Services
@{
}
<form method="post">
  <label for="bienA">Nhap tu 1:</label><br>
  <input type="text" name="tu1" value="@Model.Tu1"><br>
  <label for="bienB">Nhap mau 1:</label><br>
  <input type="text" name="mau1" value="@Model.Mau1"><br><br>
  <label for="bienA">Nhap tu 2:</label><br>
  <input type="text" name="tu2" value="@Model.Tu2"><br>
  <label for="bienB">Nhap mau 2:</label><br>
  <input type="text" name="mau2" value="@Model.Mau2" ><br><br>
  <input type="submit" value="Tinh">
</form> 

@Model.Chuoi

@section Scripts
{
    <div>This is script of MH_Cong_2_PhanSo</div>
}